<!DOCTYPE html>

-const teste = [{name: 'b'}, {name: 'e'},{name: 'HHHH'},{name: 'g'},]

html
  head
  body 
    p Desenvolvendo html com pug

    include src/components/user

    +User(teste[0])

    